---
import Header from"../components/Header.astro";
---
<div class=" h-screen bg-gray-200">
   
    <Header/>
    <slot/>
</div>
<script src="https://kit.fontawesome.com/883be402ff.js" crossorigin="anonymous"></script>